.glass2 {
  display: grid;
  height: 97%;
  width: 97%;
  /* border-radius: 2rem; */
  background-color: var(--glass);
  overflow: auto;
  margin: auto;
  gap: 16px;
  grid-template-columns: 11rem auto;
}
.main_dashboard2 {
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
}
.odd-cell-bg {
  background-color: rgb(130, 155, 236);
}
/* .MuiTableRow-root {
  background-color: rgb(197, 206, 238);
} */
.flex_with_search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}
.label{
  background-color: #0077cc;
  /* color: black; */
  padding: 0.6rem;
  border-radius: 5px;
}
.add_employee{
  background-color: #228edb;
  padding: 0.36rem;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
  font-weight: 600;
  color: white;
  /* margin-left: 0.6rem; */
}
.icon_search{
  background-color: rgb(17, 127, 223);
  padding: 0.5rem;
  border-radius: 5px;
}