.item_card{
    gap: 1rem;
    background-color: aliceblue;
    height: 7rem;
    width: 100%;
}
.complaint_left{
    width: 15rem;
    padding-top: 1rem;
    height: 100%;
    background-color: rgb(130, 155, 236);
}
.complaint_right{
    width: 85rem;
}
.employee_name{
    color: rgb(255, 255, 255);
    font-size:1rem;
    font-weight: 600;
}
.employee_date{
    color: white;
    /* font-size:1.5rem; */
    font-size:1.3vw;
    font-weight: 500;
}
.icon_dark{
    font-size:1.5rem;
    /* font-size:4vw; */
    color: rgb(255, 255, 255);
}
.complaint{
    font-size:0.8vw;  
}