.modal-container {
    background-color: white;
    border-radius: 5px;
    width: 800px;
    max-width: 80%;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .modal-container h2 {
    margin-bottom: 10px;
    color: black;
  }
  
  .modal-container button {
    margin-top: 20px;
  }
  
  .modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .grid-container {
    display: grid;
    /* grid-gap: 16px; */
    width: 100%;
  }
  
  .grid-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center; 
  }
  
  .grid-item {
    flex: 1;
    width: 48%; 
    color: black;
  }
  
  .grid-row button {
    margin-top: 0; 
  }
  .grid-item label{
    background-color: white;
  }
  #demo-simple-selec{
    color: black;
  }
  input[type=date]{
    border:1px solid gray;
    border-radius: 4px;
  }