.Dcard {
  margin-left: 1rem;
  background: linear-gradient(
    180deg,
    rgb(71, 72, 102) 0%,
    rgb(169, 171, 184) 100%
  );
}
#flex {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  flex-wrap: wrap;
}
.item {
  width: 23.5rem;
  height: 30vh;
  background-color: aliceblue;
  margin-left: 1rem;
  margin-top: 1rem;
  color: black;
  text-align: center;
  font-size: 2rem;
}
@media screen and (max-width: 1200px) {
  .detail_card{
     flex-direction: column;
  }
  .detail_container{
    justify-content: flex-start;
  }
}
@media screen and (max-width:786px) {
  .table_details{
    max-width: 30rem;
  }
  .Dcard{
     max-width: 30rem;
  }
}